.porfolio-container {
    position: relative;
}

.progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 20px;
    text-align: center;
    color: orange;
    font-size: 36px;
}


.progressBar {
    height: 10px;
    background-color: white;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.proyect-wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.imagen-proyect-container {
    flex: 1;
    height: 50%;
    width: 100%;
    margin-top: 100px;

}

.imagen-proyect {

    height: 100%;
    object-fit: contain;
    border: 1px solid white;
    border-radius: 10px;
}

.proyect-text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 140px;
}

.proyect-title {
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
}

.proyect-description {
    color: #dcdcdc;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
}

.proyect-button {
    border: none;
    border-radius: 10px;
    background-color: orange;
    width: 200px;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
}

.proyect-button:hover {
    transform: translateY(-5px);
}



.div-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo-list {
    display: flex;
    list-style: none;
    align-content: center;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;


}

.logo-title {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.logo {
    width: 115px;
    height: auto;
}

@media (max-width:1100px) {
    .proyect-wrapper {
        display: flex;
        flex-direction: column;

    }

    .h1-proyectos {
        font-size: 50px;

    }

    .imagen-proyect-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        overflow: hidden;


    }

    .front-imagen-proyect {
        width: 100%;
        padding: 10px;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
        border: none;
        border-radius: 10px;

    }

    .proyect-text-container {
        position: relative;
        top: 180px;
        padding: 0 10px 0 10px;
        margin: 0;
        font-size: 20px;

    }



    .logo {
        width: 67px;
        height: 100%;


        object-fit: cover;

    }


}