.hero {
    height: calc(100vh);
    overflow: hidden;
    position: relative;
}

.imagen-container {
    height: 100%;

    width: 50%;
    margin-top: 200px;
    left: 700px;
    display: flex;

    justify-content: center;

}

.imagen-profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;

}

.wrapper-hero {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 200px;
    gap: 30px;

    align-items: center;

}



.user-name {
    font-size: 30px;
    color: rebeccapurple;
    text-transform: uppercase;
    font-weight: 500;
}

.user-role {
    font-size: 60px;
}

.button-hero {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    font-size: medium;


}


.button-hero:last-child {
    color: #0c0c1d;
    background-color: white;


}

.slindingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -100px;
    white-space: nowrap;
    color: #ffffff09;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    font-weight: bold;
    z-index: 1;


}

.scroll-down {
    animation: bounce 2s linear infinite;
    width: 50px;

}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.description-role {
    display: flex;
    border-right: 5px solid;
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    animation:

        typing 3s steps(40) forwards 2s,
        cursor .4s step-end infinite alternate
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        opacity: 0;
        width: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}