.hero {
    height: calc(100vh);
    overflow: hidden;
    position: relative;
}


.imagen-container {
    position: relative;
    bottom: 70px;
}

.imagen-profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;

}



.javaScript-svg {
    top: -120px;
    position: relative;
    left: -45px;
    border-radius: 5px;

}

.react-svg {
    top: -65px;
    left: -53px;
    position: relative;

}

.node-svg {
    top: -23px;
    left: -50px;
    position: relative;

}

.css-svg {
    bottom: 2px;
    right: 40px;
    position: relative;

}

.html-svg {
    bottom: 16px;
    right: 35px;
    position: relative;
}

.mongoDb-svg {
    bottom: 45px;
    right: 30px;
    position: relative;
}


.wrapper-hero {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 200px;
    gap: 50px;

    align-items: center;

}



.user-name {
    font-size: 30px;
    color: rebeccapurple;
    text-transform: uppercase;
    font-weight: 500;
}

.user-role {
    font-size: 60px;
}

.button-hero {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    z-index: 20;
    position: relative;
    font-size: medium;


}


.button-hero:last-child {
    color: #0c0c1d;
    background-color: white;


}

.slindingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -100px;
    white-space: nowrap;
    color: #ffffff09;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    font-weight: bold;
    z-index: 1;


}

.scroll-down {
    animation: bounce 2s linear infinite;


}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.description-role {
    display: flex;
    border-right: 5px solid;
    width: 100%;
    max-width: 650px;
    padding: 0;

    margin: 0;
    opacity: 0;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    animation:

        typing 3s steps(40) forwards 2s,
        cursor .4s step-end infinite alternate
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        opacity: 0;
        width: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 1;

    }
}

@media (max-width:960px) {
    .text-container {
        font-size: small;
        gap: 30px;
        margin-top: 70px;
        padding: 0 10px 0 10px;
        text-align: left;

    }

    .description-role {
        white-space: pre-line;
        border: none;
        max-width: 90vw;
        font-size: 4vw;
        animation: none;
        opacity: 1;


    }

    .user-name {
        font-size: 8vw;
    }

    .user-role {
        font-size: 50px;
    }

    .wrapper-hero {
        flex-direction: column;
    }

    .imagen-container {
        margin-top: 0;
        bottom: 80px;
        left: 15px;
        z-index: 10;
    }

    .scroll-down {
        position: relative;
        top: 380px;
        z-index: 11;
    }
}